.facebook{
    height: 30px;
    width: 30px;
}


.intro1{
    display: flex;
    justify-content: center;
}

.intro2{
    height: 50%;
    width: 50%;
}

.skin{
    display: flex;
    justify-content: space-between;
}

.contenedor-principal{
    display: flex;
    justify-content: center;

}

.contenedor-secundario{
    background: #808080;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.caja{
    background: #000000;
    border-radius: 5px;
    color: white;
}

.redes{
    display: flex;
    justify-content: flex-end;
}

h2{
    display: flex;
    justify-content: center;
}

.fondo{
    background: #C0C0C0;
}

h1{
   color: black; 
}

p{
    background: #808080;
}

li{
    color: white;
}
